name: autofix.ci

on:
  push:
    branches: [main]

  workflow_call:
    inputs:
      command:
        required: false
        type: string
        default: pnpm run lint --fix
      fetch-all:
        description: Whether to fetch all history for all branches and tags.
        required: false
        type: boolean
        default: false

jobs:
  autofix:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
        with:
          fetch-all: ${{ inputs.fetch-all }}

      - name: Fix
        run: ${{ inputs.command }}
        if: ${{ inputs.command != '' }}

      - name: Commit
        uses: autofix-ci/action@v1
