name: autofix.ci

on:
  push:
    branches: [main]

  workflow_call:
    inputs:
      command:
        required: false
        type: string
        default: pnpm run lint --fix

jobs:
  autofix:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main

      - name: Fix
        run: ${{ inputs.command }}
        if: ${{ inputs.command != '' }}

      - name: Commit
        uses: autofix-ci/action@v1
